%h1== Results
= render 'saved_search_overview', search_results_view: @search_results_view

%br

%table
  %thead
    %tr
      %th Photos
      %th Title
      %th Cost
      %th Offers?
      %th Make
      %th Model
      %th Condition

  %tbody
    - if @search_results_view.listings.any?

      = render 'listing_row', listings: @search_results_view.listings

    - else

      %td{colspan: "7"} :( No sweet pedals this time...
