/*
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

/* listing condition color */
.like_new  {
  background: #00FF00;
}

.mint {
  background: #72DF3B;
}

.mintwithinventory {
  background: #72DF3B;
}

.excellent  {
  background: #008C00;
}

.very_good  {
  background: #005000;
}

.good  {
  background: #005500;
}

.fair  {
  background: #FFFF00;
}

.poor  {
  background: #FFFF00;
}

